
module.exports = (data)=>`
<article
  dir="auto"
  style="font-family: sans-serif; padding: 5px 20px; color: #414141; border: 1px solid #bdb3b3; border-radius: 10px;"
>
  <p style="font-size: 27px; font-weight: bolder; color: #47f5a4">${data.hi} ${data.name || ""},</p>
  <h1>${data.h1}</h1>
  <p style="font-size: 18px">${data.p[0]}
    <a href="https://pets.kawaraa.com" style="color: #2b70fa"> Kawara Pets</a>
  </p>

  <p style="font-size: 18px">${data.p[1]}</p>
  <p style="font-size: 18px">${data.p[2]}</p>
  <br />
  <p style="font-size: 16px">${data.p[3]}</p>
  <p style="font-size: 16px">${data.p[4]}.</p>
</article>
`;